<!DOCTYPE html>
<html>
    <head>
      <title>Task #3</title>

      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link href="assets/styles/main.css" rel="stylesheet" />

      <script src="vendor.bundle.js" type="text/javascript" charset="utf-8" defer></script>
      <script src="bundle.js" type="text/javascript" charset="utf-8" defer></script>



      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    </head>

    <body class="container-fluid"  ng-app="studentRegistryApp" ng-controller="MainController">
      <form class="form-horizontal" action="index.html" method="post">

        <div id="legend">
           <legend class="">Register</legend>
        </div>


        <div class="control-group">
          <label class="control-label" for="first_name">Student First Name</label>
            <div class="controls">
               <input  placeholder="First Name" type="text" ng-model="first_name" name="id" class="form-control input-lg">
             </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="last_name">Student Last Name</label>
            <div class="controls">
               <input placeholder="Last Name" type="text" ng-model="last_name" name="name" class="form-control input-lg">
             </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="address">Student Address</label>
            <div class="controls">
              <input  placeholder="Address" type="text" ng-model="address" name="address" class="form-control input-lg">
             </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="city">Student City</label>
            <div class="controls">
              <input  placeholder="City" type="text" ng-model="city" name="city" class="form-control input-lg">
             </div>
        </div>

        <br>


        <div class="control-group">
              <!-- Button -->
              <div class="controls">
                <input type="button" name="name" value="Register" ng-click="insertdata()">
              </div>
            </div>
          </fieldset>
        </form>

        <br>





<script>

var app = angular.module("studentRegistryApp", []);



app.controller('MainController', function($scope, $http) {
  $scope.insertdata = function () {
    $http.post("insert.php", {
      'first_name':$scope.first_name,
      'last_name':$scope.last_name,
      'address':$scope.address,
      'city':$scope.city})
    .success(function (data) {
      console.log(data);
    });
  };
});

</script>





    </body>
</html>
